body {
    font: 14px Helvetica Neue;
    text-rendering: optimizelegibility;
}

.body {
    width: 960px;
    margin: auto;
}

a:link {
    color: #1F78B4;
    text-decoration: none;
}

h2 {
    font-size: 36px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

#footer {
    height: 40px;
    background: #888;
    color: white;
    font-size: larger;
    font-weight: 300;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer p {
    text-align: center
}