<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{title} History - Criterion.rs</title>
    <style type="text/css">
        {- common_css }

        .number \{
            opacity: 0.6
        }
        .timestamp \{
            opacity: 0.6;
            float: right
        }
        .improved \{
            color: green
        }
        .regressed \{
            color: brick
        }

        th.ci-bound \{
            opacity: 0.6
        }

        td.ci-bound \{
            opacity: 0.5
        }
    </style>
</head>

<body>
    <div class="body">
        <img alt="History of { title }" src="history.svg"></img>
        {{- for entry in history }}
        <h4> <span class="number"># { entry.number }</span>{{ if entry.id }} - {entry.id}{{ endif }}<span class="timestamp">{ entry.datetime }</span> </h4>
        <br>
        {{- if entry.description }}
        <p>
            { entry.description }
        </p>
        {{ endif }}
        <br>
        <table>
        <tr>
            <th></th>
            <th class="ci-bound"> Lower Bound</th>
            <th>Estimate</th>
            <th class="ci-bound">Upper Bound</th>
        </tr>
        <tr>
            <td>Value:</td>
            <td class="ci-bound">{entry.value.lower}</td>
            <td class="{entry.change_class}">{entry.value.point}</td>
            <td class="ci-bound">{entry.value.upper}</td>
        </tr>
        {{- if entry.throughput }}
        <tr>
            <td>Throughput:</td>
            <td class="ci-bound">{entry.throughput.lower}</td>
            <td class="{entry.change_class}">{entry.throughput.point}</td>
            <td class="ci-bound">{entry.throughput.upper}</td>
        </tr>
        {{- endif }}
        {{- if entry.change_value }}
        <tr>
            <td>Change in Value:</td>
            <td class="ci-bound">{entry.change_value.lower}</td>
            <td>{entry.change_value.point}</td>
            <td class="ci-bound">{entry.change_value.upper}</td>
        </tr>
        {{- endif }}
        {{- if entry.change_throughput }}
        <tr>
            <td>Change in Throughput:</td>
            <td class="ci-bound">{entry.change_throughput.lower}</td>
            <td>{entry.change_throughput.point}</td>
            <td class="ci-bound">{entry.change_throughput.upper}</td>
        </tr>
        {{- endif }}
        </table>
        
        {{- if entry.has_improved }}
        Performance has <span class="improved">improved</span>
        {{- endif }}
        {{- if entry.has_regressed }}
        Performance has <span class="regressed">regressed</span>
        {{- endif }}
        {{- if entry.is_not_significant }}
        Change within noise threshold.
        {{- endif }}
        {{- if entry.is_no_change }}
        No change in performance detected.
        {{- endif }}
        {{- if @last }}{{ else }}<hr>{{ endif }}
        {{- endfor }}
    </div>
    <div id="footer">
        <p>This report was generated by <a href="https://github.com/bheisler/cargo-criterion">cargo-criterion</a></p>
    </div>
</body>

</html>