<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{group_id} Summary - Criterion.rs</title>
    <style type="text/css">
        {- common_css }
    </style>
</head>

<body>
    <div class="body">
        <h2>{group_id}</h2>
        {{- if violin_plot }}
        <h3>Violin Plot</h3>
        <a href="violin.svg">
            <img src="violin.svg" alt="Violin Plot" />
        </a>
        <p>This chart shows the relationship between function/parameter and iteration time. The thickness of the shaded
            region indicates the probability that a measurement of the given function/parameter would take a particular
            length of time.</p>
        {{- endif }}
        {{- if line_chart }}
        <h3>Line Chart</h3>
        <img src="lines.svg" alt="Line Chart" />
        <p>This chart shows the mean measured time for each function as the input (or the size of the input) increases.</p>
        {{- endif }}
        {{- for bench in benchmarks }}
        <section class="plots">
            <a href="{bench.path}/index.html">
                <h4>{bench.name}</h4>
            </a>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <a href="{bench.path}/pdf.svg">
                                <img src="{bench.path}/pdf_small.svg" alt="PDF of Slope" width="{thumbnail_width}"
                                    height="{thumbnail_height}" />
                            </a>
                        </td>
                        <td>
                            {{- if bench.regression_exists }}
                            <a href="{bench.path}/regression.svg">
                                <img src="{bench.path}/regression_small.svg" alt="Regression" width="{thumbnail_width}"
                                    height="{thumbnail_height}" />
                            </a>
                            {{- else }}
                            <a href="{bench.path}/iteration_times.svg">
                                <img src="{bench.path}/iteration_times_small.svg" alt="Iteration Times" width="{thumbnail_width}"
                                    height="{thumbnail_height}" />
                            </a>
                            {{- endif }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {{- endfor }}
    </div>
    <div id="footer">
        <p>This report was generated by <a href="https://github.com/bheisler/cargo-criterion">cargo-criterion</a></p>
    </div>
</body>

</html>